# Terraform
credentials.auto.tfvars
credentials*
*.tfstate
*.tfstate.backup
*.tfvars
.terraform
.terraform.lock.hcl

# Environment variables
.env
localstack/.env

# Local CA directory
homelab-ca/
CLAUDE.md
