[defaults]
inventory = ansible/inventory.yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentityAgent=none -o StrictHostKeyChecking=no -o IdentityFile=/home/szymon/.ssh/id_ed25519
